body {
  background-color: black;
}

#wrapperDiv {
  background-color: black;
  width: 1020px;
  height: 850px;
  border: solid black 2px;
  margin: auto;
  display: none;
}

#infoDiv {
  background-color: #381100;
  width: 1020px;
  height: 100px;
  text-align: center;
}

#switchDiv {
  background-image: url('resources/images/panels/towerChange.png');
  background-color: #00ff8400;
  margin-right: 20px;
  margin-top: 0px;
  width: 80px;
  height: 50px;
  float: right;
}

#switchDiv:hover {
  background-color: #6666ff;
}

#fastForward {
  background-image: url("resources/images/infoDivImg/start.png");
}

#fastForward.fast {
  background-image: url("resources/images/infoDivImg/regSpeed.png");
}

#fastForward.slow {
  background-image: url("resources/images/infoDivImg/fastSpeed.png");
}


.loader {
  margin: auto;
  margin-top: 25%;
  border: 16px solid black;
  /* Light grey */
  border-top: 16px solid grey;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#menuDiv {
  background-color: #990022;
  width: 120px;
  height: 750px;
  float: left;
}



#canDiv {
  background-color: black;
  width: 900px;
  height: 750px;
  float: left;
}

#pauseButton {
  background-color: white;
  background-image: url("resources/images/infoDivImg/pause.png");
}

#pauseButton.play {
  background-image: url("resources/images/infoDivImg/play.png");
}

#pauseButton.pause {
  background-image: url("resources/images/infoDivImg/pause.png");
}

.infoTileDiv {
  background-color: white;
  background-image: url("resources/images/bBtn 1 small.png");
  width: 80px;
  height: 80px;
  border-radius: 50%;
  float: left;
  margin-left: 4%;
  margin-top: 10px;
  font-family: Garamond, serif;
  font-size: 12pt;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}


#bankTile {
  background-color: white;
  background-image: url("resources/images/infoDivImg/bank.png");
}

#timeTile {
  background-color: white;
  background-image: url("resources/images/infoDivImg/time.png");
}

#healthTile {
  background-color: white;
  background-image: url("resources/images/infoDivImg/health.png");
}

#costTile {
  background-color: white;
  background-image: url("resources/images/infoDivImg/cost.png");
}

#scoreTile {
  background-color: white;
  background-image: url("resources/images/infoDivImg/score.png");
}

#waveTile {
  background-color: white;
  background-image: url("resources/images/infoDivImg/wave.png");
}

.menuTileDiv {
  background-color: #DDD;
  background-image: url("wframe.png");
  width: 80px;
  height: 80px;
  /* margin-top: 38px;
  margin-left: 10px;*/
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

#towImgDiv0,
#towImgDiv5 {
  border: solid black 2px;
  border-radius: 5px;
  background-color: #DDD;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 8px;
  height: 100px;
}

#towImgDiv1,
#towImgDiv2,
#towImgDiv3,
#towImgDiv4,
#towImgDiv6,
#towImgDiv7,
#towImgDiv8,
#towImgDiv9,
#towImgDiv10 {
  border: solid black 2px;
  border-radius: 5px;
  background-color: #DDD;
  margin-top: 30px;
  margin-left: 8px;
  margin-right: 8px;
  height: 100px;
}

#panelStart {
  position: absolute;
  left: 80%;
  margin-left: 150px;
}

#panelQuit {
  position: absolute;
  left: 40%;
  margin-left: -50px;
}

#panelInstructions {
  position: absolute;
  margin: auto;
}


button {
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  border-bottom: 1px solid #444;
  cursor: pointer;
}

#enemySelect {
  position: absolute;
  margin-top: 30px;
}

button {
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  border-bottom: 1px solid #444;
  cursor: pointer;
}